body {
	background-color: #DCDCDC;
}

.gifDiv {
	display: inline-block;
	margin: 5px;
}

.row {
	margin: 0px;
	margin-bottom: 5px;
}

.col-md-8 {
	padding: 0px;
}

.buttonsContainer {
	padding-bottom: 10px;
	border-bottom: 2px solid black;
}

.btn {
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 4px;
	margin-right: 4px;
}

.userButton {
	margin-top: 5px;
	margin-bottom: 5px;
}

.userForm {
	padding-left: 0px;
}

.btn:hover, .btn:active {
	background-color: #00008B;
}

#find-user-input {
	margin-top: 10px;
}

h3 {
	text-decoration-style: bold;
}

@media screen and (max-width: 990px) {
	.userForm {
		padding: 0px;
	}